/* line 1, ../sass/_footer.scss */
#about-text {
  text-align: justify;
}

/* line 5, ../sass/_footer.scss */
footer.page-footer {
  background-color: #4CAF50 !important;
}

/* line 2, ../sass/_home-collection.scss */
#collection-wrap .collection-panel {
  height: 30%;
}
/* line 6, ../sass/_home-collection.scss */
#collection-wrap .collection-content {
  height: 100%;
}
/* line 10, ../sass/_home-collection.scss */
#collection-wrap .collection-title {
  display: none;
  color: white;
  font-weight: 700;
  font-size: 40px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 19, ../sass/_home-collection.scss */
#collection-wrap #collection-men-title {
  text-align: right;
}

/* line 26, ../sass/_home-collection.scss */
#home-collection-men:hover #collection-men-title {
  display: block;
}

/* line 32, ../sass/_home-collection.scss */
#home-collection-women:hover #collection-women-title {
  display: block;
}

/* line 1, ../sass/_home-ads.scss */
#sponsored-ads {
  margin-top: 10px;
}

/* line 1, ../sass/_navbar.scss */
#search-bar {
  height: 100%;
  width: 50%;
}

/* line 6, ../sass/_navbar.scss */
.li_no_hover {
  opacity: 1;
  background-color: transparent !important;
  margin-left: -5%;
  margin-top: -15%;
}

/* line 12, ../sass/_navbar.scss */
.arrange {
  display: inline-block;
}

/* line 15, ../sass/_navbar.scss */
nav {
  background-color: #4CAF50;
}

/* line 18, ../sass/_navbar.scss */
#categories_drop {
  margin-right: 5%;
}

/* line 20, ../sass/_navbar.scss */
#search_bar {
  height: 100%;
  width: 450px;
}

/* line 22, ../sass/_navbar.scss */
#drop_button {
  color: white;
  border-radius: 25px;
  margin-left: 30px;
}

/* line 26, ../sass/_navbar.scss */
#dropdown1 {
  z-index: 3;
  margin-left: 30px;
}

/* line 28, ../sass/_navbar.scss */
#search {
  height: 40px;
  border-radius: 25px;
  margin-top: 12px;
  line-height: 15px;
}
