/* line 1, ../sass/login.scss */
.error {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

/* line 11, ../sass/login.scss */
.msg {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* line 21, ../sass/login.scss */
#login-box {
  width: 300px;
  padding: 20px;
  margin: 100px auto;
  background: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border: 1px solid #000;
}
/* line 30, ../sass/login.scss */
#login-box button {
  margin-left: 200px;
}
