/* line 1, ../sass/product.scss */
.filter-form {
  margin-left: 60px;
  max-height: 150px;
  overflow-y: scroll;
}

/* line 6, ../sass/product.scss */
.product-card {
  max-height: 335px;
}

/* line 9, ../sass/product.scss */
.product-item-image {
  height: 43%;
  max-height: 140px;
}

/* line 14, ../sass/product.scss */
#priceFilter {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 20, ../sass/product.scss */
#filterButton {
  margin-top: 5px;
  margin-left: 25%;
}

/* line 25, ../sass/product.scss */
#stockFilter {
  margin-left: 60px;
}

/* line 29, ../sass/product.scss */
.pure-control-group #productImage {
  width: 220px;
  color: black;
  font-weight: 900;
}
/* line 34, ../sass/product.scss */
.pure-control-group #file {
  margin-left: 7%;
  width: 30%;
}
/* line 38, ../sass/product.scss */
.pure-control-group #formselectdiv {
  width: 250px;
  background-color: white;
  margin-left: 0px;
  color: black;
}
/* line 44, ../sass/product.scss */
.pure-control-group #productFormAge {
  width: 100px;
  padding-left: 20px;
  display: none;
}
/* line 49, ../sass/product.scss */
.pure-control-group td, .pure-control-group th {
  padding: 0px;
}

/* line 53, ../sass/product.scss */
#productDescription {
  display: none;
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  background-color: white;
  z-index: 20;
  position: absolute;
  padding: 10%;
  border: 10px solid green;
}

/* line 65, ../sass/product.scss */
#backgroundDiv {
  display: none;
  width: 100%;
  background-color: black;
  z-index: 10;
  opacity: .6;
  height: 100%;
  position: absolute;
}

/* line 75, ../sass/product.scss */
#productDescription #ImageDiv {
  width: 70%;
}

/* line 82, ../sass/product.scss */
#productDialog #productForm .input[type="text"], #productDialog #productForm input[type="number"] {
  width: 29%;
  background-color: white;
}

/* line 89, ../sass/product.scss */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* line 95, ../sass/product.scss */
main {
  flex: 1 0 auto;
}
