/* line 1, ../sass/product.scss */
.filter-form {
  margin-left: 60px;
  max-height: 150px;
  overflow-y: scroll;
}

/* line 6, ../sass/product.scss */
.product-card {
  max-height: 315px;
}

/* line 9, ../sass/product.scss */
.product-item-image {
  height: 43%;
  max-height: 140px;
}

/* line 14, ../sass/product.scss */
#priceFilter {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 20, ../sass/product.scss */
#filterButton {
  margin-top: 5px;
}

/* line 23, ../sass/product.scss */
#stockFilter {
  margin-left: 60px;
}

/* line 27, ../sass/product.scss */
.pure-control-group #productImage {
  width: 220px;
  color: black;
  font-weight: 900;
}
/* line 32, ../sass/product.scss */
.pure-control-group #file {
  margin-left: 7%;
  width: 30%;
}
/* line 36, ../sass/product.scss */
.pure-control-group #formselectdiv {
  width: 250px;
  background-color: white;
  margin-left: 0px;
  color: black;
}
/* line 42, ../sass/product.scss */
.pure-control-group #productFormAge {
  width: 100px;
  padding-left: 20px;
  display: none;
}
/* line 47, ../sass/product.scss */
.pure-control-group td, .pure-control-group th {
  padding: 0px;
}
