<?xml version = '1.0' encoding = 'utf-8' ?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
	
		<!-- 	DATABASE CONNECTION SETTINGS -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/testDb</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		
		<property name="connection.pool_size">1</property>
		
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		
		<!-- this will show us all sql statements -->
    	<property name="show_sql">true</property>
    	
    	<property name="hbm2ddl.auto">create</property>
	<property name="hibernate.current_session_context_class">org.hibernate.context.ThreadLocalSessionContext</property>	
		
		<property name="hibernate.current_session_context_class">thread</property>
		
		<mapping class="com.Cart.start.model.studentInfo"/>
		<mapping class="com.Cart.start.model.Users"/>
		<mapping class="com.Cart.start.model.Products"/>
		<mapping class="com.Cart.start.model.Category"/>
		
		
		<!-- <mapping resource="org/hibernate/test/legacy/Simple.hbm.xml"/>
		<class-cache
			class="org.hibernate.test.legacy.Simple"
			region="Simple"
			usage="read-write"/> -->
			
	</session-factory>
</hibernate-configuration>