#search-bar{
    height: 100%;
    width: 50%;
}
#nav-category-select{
	width:120px !important;
	z-index: 4; 
	font-weight: 900 !important;
	font-size: 18px !important;
	padding-left: 10% !important;
	#category-select{
	font-weight: 900 important;
	font-size: 18px important;
	padding-left: 10% important;
	
	}
}

.li_no_hover {
    opacity:1;
    background-color: transparent !important;
    margin-left: -5%;
    margin-top: -15%;
}
.arrange{
display: inline-block;
}
nav{
background-color:#4CAF50;
}
#categories_drop{margin-right: 5%;
}
#search_bar{
height: 100%; width: 450px; }
#drop_button{
color: white; 
border-radius: 25px;
margin-left: 30px;}
#dropdown1{
z-index: 3; margin-left: 30px;}
#search{
height: 40px; 
border-radius: 25px; 
margin-top: 12px; 
line-height: 15px;}
#logo_img{
height: 80%;
margin-top: 5px;
margin-left: 15px;}

#searchSubmit{
display:none;
}
.product-change{
padding-left: 15px;
padding-right: 15px;
margin: 5px;
}