.filter-form{
  margin-left: 60px;
  max-height:150px;
  overflow-y:scroll;
}
.product-card{
height: 315px;
}
.product-item-image{
max-height: 165px
}
#priceFilter{
margin-top:20px;
margin-bottom:10px;
margin-left:10px;
margin-right:10px;
}
#filterButton{
margin-top:5px;
}
#stockFilter{
margin-left: 60px;
}
.pure-control-group{
#productImage{
width: 220px;
color: black;
font-weight: 900;
}
#file{
margin-left: 7%;
width: 30%;
}
#formselectdiv{
width: 250px;
background-color: white;
 margin-left:0px;
 color: black;
}
#productFormAge{
width:100px;
padding-left: 20px;
display:none;
}
td,th{
padding:0px;
}


}